#count-el{
    font-size: 40px;
    margin-top:0.5px;}

#increment-btn{ 
    border-radius: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 1px;
    }

#save-btn{ 
    border-radius: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10;  
  }
 