*{
    margin:0;
    padding:0;
    text-align: center;
}

#count-el{
    font-size: 40px;
    margin:2px 0;
    font-family: Arial, Helvetica, sans-serif;
}

button{ 
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 1px;
}

#increment-btn{ 
    background-color: red;
}
#save-btn{ 
    background-color: green;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
 